<!DOCTYPE html>
<html>
<head>
    <title>My Little Bloggie</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <style>
        article {
            padding: 2em 0;
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
    <div class="container" style="margin-top:10px;">
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">My Little Bloggie</a>
                <ul class="nav">
                    <li class="active"><a href="/">All Posts</a></li>
                    <li><a href="/new">Create Post</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <% posts.forEach(function(post) { %>
                    <article>
                        <h1><%= post.title %></h1>
                        <div class="content"><%- post.content %></p>
                    </article>
                <% }) %>
            </div>
        </div>
    </div>
</body>
</html>